<?xml version="1.0" encoding="UTF-8"?>

<!-- Test Set Management spring.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<bean id="captureProcessorTask" class="com.etf.process.CaptureProcessorTask" />
	
	<!-- Spring Quartz 2.0.2 -->
	<!-- create the Job -->
    <bean id="captureProcessorJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="captureProcessorTask" />
        <property name="targetMethod" value="processApplication" />
    </bean>
		
	<!-- Cron Trigger, run every 08:15 AM minutes (Windows XP) -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="captureProcessorJob" />
		<property name="cronExpression" value="00 00 8 * * ?" />
	</bean>
	
	<!-- schedule the Job -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers" ref="cronTrigger" />
    </bean>
	
</beans>